<!DOCTYPE html>

<html lang="en-us">
 <head>
  <meta charset=UTF-8>
  <meta content="width=device-width" name="viewport">
  <title>Digital Wallet Project in Taiwan</title>
  <link rel="stylesheet" href="../Templates/slides.css">
  <!-- To use the b6+ framework, include this: -->
  <script src="../Templates/b6plus.js"></script>
  <!-- To use the Shower framework, remove b6plus above and add these two: -->
  <!--   <script src="../Templates/shower.js"></script>         -->
  <!--   <script src="../Templates/iframe-fixup.js"></script>   -->
 </head>
 <body class="shower fade-in duration=15">

  <!-- Remove this element if you don't want a progress bar: -->
  <div class=progress></div>

  <!-- Remove this element if you don't want the remaining time in
       index mode and on the 2nd screen. If you keep it, you may want
       to add the class "duration=n" on BODY, where n is the initial
       number of minutes on the clock. Default is 30. -->
  <div class=clock></div>

  <!-- Alternative: Show also real time and elapsed time. -->
  <!-- <div class=fullclock></div> -->

  <!-- What a screen reader should say on leaving slide mode,
       instead of the default ‘Stopped.’ -->
  <div role=region aria-live=assertive>
    Leaving slide mode.
  </div>


  <section class="slide cover clear">
   <h1>Digital Wallet Project in Taiwan</h1>
   <address>HaoYuan Ting,<br>
Ministry of Digital Affairs, Taiwan</address>
   <p>TPAC 2024<br>
     Anaheim CA, USA<br>
     hybrid meeting<br>
     23–27 SEPTEMBER 2024</p>
  </section>

  <section class=comment>
   <p>Opening.</p>
  </section>


  <section class="slide" id="lists">
   <h2>Digital Wallet Project</h2>
   <h3>2024 - 2027</h3>
   <p>Build a universal infrastructure, securing digital identity with Self-Sovereign Identity (SSI) model.</p> 
   <h3>Adopting W3C Standards</h3>
   <ul>
    <li>Decentralized Identifiers v1.0</li>
    <li>Verifiable Credentials Data Model v1.1</li>
   </ul>
  </section>

  <section class=comment>
   <p>It is a four-year program to build a universal infrastructure, securing digital identity, which will meet the challenges of our increasingly interconnected global landscape.</p>
   <p>We will create a digital identity framework that empowers users with complete control, ensuring optimal privacy and trustworthy verification.</p>
   <p>We will be adopting two W3C standards, including Decentralized Identifiers and Verifiable Credentials.</p>
   <p>The Digital Wallet leverages the industry’s leading Self-Sovereign Identity (SSI) framework, offering several key benefits:</p>
  </section>


  <section class="slide">
   <h2>Overview</h2>
   <ul class="with-icons">
    <li><span>🏛️</span>Public Money, Public Code</li>
    <li><span>🌱</span>Open Ecosystem</li>
    <li><span>🧪</span>Sandbox Environment</li>
    <li><span>💬</span>Technical Advisory Meeting</li>
   </ul>
  </section>

  <section class=comment>
   <p>Overview.</p>
  </section>

  <section class="slide">
   <h2>🏛️ Public Money, Public Code</h2>
   <h3>Open Source Software</h3>
   <ul>
    <li>Unlocking Digital Wallet and SDKs for all</li>
    <li>Freely use and fork without prior approval</li>
    <li>Build a robust verification ecosystem together</li>
    <li>Aligned with latest verification trends</li>
   </ul>
  </section>

  <section class=comment>
   <p>The Taiwan Digital Wallet will be open-source. We will release the Digital Wallet, Issuer SDK, and Verifier SDK for free, allowing all government agencies and private enterprises worldwide to use them.</p>
   <p>Global institutions can freely use and fork the software without prior approval.</p>
   <p>This will significantly accelerate the progress and growth of the verification industry and ensure that Taiwan’s Digital Wallet continues to meet the latest international credential standards.
</p>
  </section>

  <section class="slide">
   <h2>🌱 Open Ecosystem</h2>
   <h3>For Issuer, Wallet, and Verifier</h3>
   <ul>
    <li>Anyone can issue credentials, build a wallet, or conduct verifications without prior approval</li>
    <li>Foster competitive verification industry</li>
    <li>Facilitate international collaboration</li>
   </ul>
  </section>

  <section class=comment>
   <p>Any entity, including government agencies and private enterprises, can freely issue credentials and conduct verifications.</p>
   <p>This fosters a competitive verification industry, encouraging the development of secure and reliable verification methods.</p>
   <p>It also facilitates smoother collaboration with international partners.</p>
  </section>

  <section class="slide">
   <h2>🧪 Sandbox Environment</h2>
   <h3>Playground for Innovation</h3>
   <ul>
    <li>Testing features and functions</li>
    <li>Exploring ideas and creating new solutions</li>
    <li>Production environment unaffected</li>
    <li>Actively mitigate cyber risks</li>
   </ul>
  </section>

  <section class=comment>
   <p>We will also create a sandbox environment where these organizations can test their software and required verification features.</p>
   <p>This sandbox is a testing environment that allows developers to innovate and create new services without disrupting the production environment.</p>
   <p>It also enables cybersecurity experts to inspect new features early to ensure their security.</p>
  </section>

  <section class="slide">
   <h2>💬 Technical Advisory Meeting</h2>
   <h3>Bi-Monthly Local Meeting for Ecosystem</h3>
   <ul>
    <li>Inviting stakeholders to suggest features</li>
    <li>Unleashing market potential through fair competition</li>
    <li>Accelerating iteration</li>
    <li>Discussing trust model for verifiable data registry</li>
   </ul>
  </section>

  <section class=comment>
   <p>To create a more secure and reliable verification ecosystem, the Taiwan Digital Wallet project will actively collaborate with all stakeholders from the outset.</p>
   <p>We will be holding a bi-monthly technical advisory meeting, allowing government agencies and private enterprises, who best understand the practical verification needs, to propose necessary system features.</p>
   <p>Interested developers will then compete to build these features, accelerating the iteration of the Digital Wallet system and uncovering more commercial potential.</p>
   <p>Lastly, the technical advisory meeting will discuss trust model for verifiable data registry, to develop Self-Sovereign Identity (SSI) framework for securing digital identity.</p>
  </section>

  <section class="slide side r">
   <h2>Let's build a global digital wallet ecosystem together.</h2>
   <img class="side" width=233 height=233
	src="Taiwan_Digital_Identity.jpg"
	alt="[QR code of Taiwan Digital Identity PDF]">
   <h3>Contact Person</h3>
   <p>Yen-Lin Huang<br>
   web3 architect<br>
   mashbean@moda.gov.tw
  </section>

  <section class=comment>
   <p>Thank you for your attention. We look forward to working together towards a more connected and secured digital future.</p>
  </section>
 </body>
</html>
<!-- Local Variables: -->
<!-- sgml-basic-offset: 1 -->
<!-- End: -->
